@page "/ChatGPT";


@inject ColdShineSoft.Services.ChatGPTService ChatService;

<PageTitle>基本对话</PageTitle>

<MainLayout>
	<Setting>
		<MudSelect @bind-Value="ChatService.Model" Placeholder="Model">
			<MudSelectItem T="string" />
			@foreach(KeyValuePair<string,string> model in this.ChatService.ChatModels)
			{
				<MudSelectItem Value="@model.Value">@model.Key</MudSelectItem>
			}
		</MudSelect>
		<MudNumericField @bind-Value="@ChatService.Temperature" Placeholder="Temperature" />
		<MudTextField @bind-Value="@ChatService.User" Placeholder="User" />
	</Setting>
	<Body>
		<div class="d-flex flex-column" style="height:100%">
			<MessageList Messages="@ChatService.Messages" />
			<MudProgressLinear Indeterminate="@Loading" />
			<EditForm Model="@ChatService.EditingMessages" OnValidSubmit="Send">
				<MudDropContainer @ref="DropContainer" T="Models.Message" Items="@ChatService.EditingMessages" ItemsSelector="@((item,index)=>true)" ItemDropped="MoveMessage">
					<ChildContent>
						<MudDropZone T="Models.Message" AllowReorder="true" Identifier="0" />
					</ChildContent>
					<ItemRenderer Context="message">
						<div class="d-flex">
							<div style="width:100px">
								<MudSelect @bind-Value="message.Role">
									@foreach(Models.Role role in this.ChatService.ChatRoles)
									{
										<MudSelectItem Value="role" />
									}
								</MudSelect>
							</div>
							<MudTextField @bind-Value="message.Content" Class="flex-1 ml-2" For="@(()=>message.Content)" Disabled="@Loading" />
							<MudIconButton OnClick="()=>this.RemoveMessage(message)" Icon="@Icons.Material.Filled.Delete" aria-label="delete"></MudIconButton>
						</div>
					</ItemRenderer>
				</MudDropContainer>
				<div class="d-flex">
					<MudIconButton OnClick="AddMessage" Icon="@Icons.Material.Filled.Add" Color="Color.Primary" aria-label="delete"></MudIconButton>
					<div class="flex-1 align-self-center">可拖动调整顺序</div>
					<MudIconButton ButtonType="ButtonType.Submit" Color="Color.Primary" Icon="@Icons.Material.Filled.Send" Disabled="@Loading" />
				</div>
			</EditForm>
		</div>
	</Body>
</MainLayout>

@code
{
	bool Loading;

	MudDropContainer<Models.Message> DropContainer;

	Models.Message[] VirtualItems { get; } = new Models.Message[]{new Models.Message()};

	public async void Send()
	{
		this.Loading = true;
		await this.ChatService.Send();
		this.Loading = false;
		this.StateHasChanged();
	}

	void MoveMessage(MudItemDropInfo<Models.Message> dropItem)
	{
		this.ChatService.EditingMessages.Move(this.ChatService.EditingMessages.IndexOf(dropItem.Item), dropItem.IndexInZone);
	}

	void RemoveMessage(Models.Message message)
	{
		this.ChatService.EditingMessages.Remove(message);
		this.DropContainer.Refresh();
	}

	void AddMessage()
	{
		this.ChatService.EditingMessages.Add(new Models.Message { Role = Models.Role.User});
		this.DropContainer.Refresh();
	}
}