@page "/Completions";

@inject ColdShineSoft.Services.CompletionsService ChatService;

<PageTitle>Completions</PageTitle>

<MasterPage>
	<Setting>
		<MudSelect @bind-Value="ChatService.Size" Placeholder="图片大小">
			<MudSelectItem T="string" />
			@foreach(KeyValuePair<string,string> size in this.ChatService.Sizes)
			{
				<MudSelectItem Value="@size.Value">@size.Key</MudSelectItem>
			}
		</MudSelect>
		<MudNumericField @bind-Value="@ChatService.ImageCount" Placeholder="生成数量" Min="1" MaxLength="10" />
		<MudTextField @bind-Value="@ChatService.User" Placeholder="User" />
	</Setting>
	<Body>
		<div class="d-flex flex-column" style="height:100%">
			<MessageList Messages="@ChatService.Messages" />
			<MudProgressLinear Indeterminate="@Loading" />
			<EditForm Model="@ChatService.EditingMessage" Class="d-flex mb-2" OnValidSubmit="Send">
				<DataAnnotationsValidator />
				<MudTextField @bind-Value="ChatService.EditingMessage.Content" Class="flex-1 ml-2" For="@(()=>ChatService.EditingMessage.Content)" Disabled="@Loading" />
				<MudIconButton ButtonType="ButtonType.Submit" Color="Color.Primary" Icon="@Icons.Material.Filled.Send" Disabled="@Loading" />
			</EditForm>
		</div>
	</Body>
</MasterPage>

@code
{
	bool Loading;

	public async void Send()
	{
		this.Loading = true;
		await this.ChatService.Send();
		this.Loading = false;
		this.StateHasChanged();
	}
}