@page "/Completions";

@inject ColdShineSoft.Services.CompletionsService ChatService;
@inject ColdShineSoft.Services.LoginService LoginService;

<PageTitle>Completions</PageTitle>

<MasterPage>
	<Setting>
		<MudSelect @bind-Value="ChatService.Model" Placeholder="Model">
			<MudSelectItem T="string" />
			@foreach(KeyValuePair<string,string> model in this.ChatService.ChatModels)
			{
				<MudSelectItem Value="model.Value">@model.Key</MudSelectItem>
			}
		</MudSelect>
		<MudNumericField @bind-Value="ChatService.Temperature" Placeholder="Temperature" Min="0" Max="2" />
		<MudTextField @bind-Value="ChatService.User" Placeholder="User" />
		<MudNumericField @bind-Value="ChatService.ChoiceCount" Placeholder="答案数量" />
		<MudNumericField @bind-Value="ChatService.FrequencyPenalty" Placeholder="FrequencyPenalty" Min="-0.2F" Max="0.2F" />
		<MudNumericField @bind-Value="ChatService.MaxTokens" Placeholder="MaxTokens" />
		<MudNumericField @bind-Value="ChatService.PresencePenalty" Placeholder="PresencePenalty" Min="-0.2F" Max="0.2F" />
		<MudTextField @bind-Value="ChatService.Stop" Placeholder="Stop" />
		<StringList List="ChatService.StopAsList" Text="StopAsList" />
		<MudNumericField @bind-Value="ChatService.TopP" Placeholder="TopP" />

		<MudNumericField @bind-Value="ChatService.BestOf" Placeholder="BestOf" />
		<MudCheckBox @bind-Checked="ChatService.Echo" TriState="true">Echo</MudCheckBox>
		<DictionaryEditor Dictionary="ChatService.LogitBias" Text="LogitBias" />
		<MudNumericField @bind-Value="ChatService.LogProbs" Placeholder="LogProbs" />
		<StringList List="ChatService.PromptAsList" Text="PromptAsList" />
		<MudTextField @bind-Value="ChatService.Suffix" Placeholder="Suffix" />
	</Setting>
	<Body>
		<div class="d-flex flex-column" style="height:100%">
			<MessageList Messages="@ChatService.Messages" />
			<MudProgressLinear Indeterminate="@Loading" />
			<EditForm Model="@ChatService.EditingMessage" Class="d-flex mb-2" OnValidSubmit="Send">
				<DataAnnotationsValidator />
				<MudTextField @bind-Value="ChatService.EditingMessage.Content" Class="flex-1 ml-2" For="@(()=>ChatService.EditingMessage.Content)" Disabled="@Loading" />
				<MudIconButton ButtonType="ButtonType.Submit" Color="Color.Primary" Icon="@Icons.Material.Filled.Send" Disabled="@Loading" />
			</EditForm>
		</div>
	</Body>
</MasterPage>

@code
{
	bool Loading;

	public async Task<bool> Send()
	{
		this.Loading = true;
		try
		{
			return await this.ChatService.Send();
		}
		finally
		{
			this.Loading = false;
			this.StateHasChanged();
		}
	}

	protected override void OnInitialized()
	{
		if (this.ChatService.User == null)
			this.ChatService.User = this.LoginService.LoginUser?.UserName;
		base.OnInitialized();
	}
}