@inject Microsoft.JSInterop.IJSRuntime JsRuntime;
@using Microsoft.JSInterop;

<div id="MessageContainer" class="flex-1" style="overflow:auto">
@foreach(Models.Message message in Messages)
{
	<div class="d-flex mt-2 mb-1">
		<MudIcon Icon="@LeftIcons[message.Role]" Size="Size.Large" />
		<div class="flex-1 ml-2 mr-2">
			@switch(message.Role)
			{
				case Models.MessageRole.Server:
					<MudMarkdown Value="@message.Content" />
					break;
				case Models.MessageRole.Image:
					<a target="_blank" href="@message.Content"><img src="@message.Content" style="max-width:100%" /></a>
					break;
				default:
					@message.Content
					break;
			}
		</div>
	</div>
}
</div>

@code {
	System.Collections.ObjectModel.ObservableCollection<Models.Message> _Messages = null!;
	[Parameter]
	public System.Collections.ObjectModel.ObservableCollection<Models.Message> Messages
	{
		get
		{
			return this._Messages;
		}
		set
		{
			this._Messages = value;
			this._Messages.CollectionChanged+=MessagesChanged;
		}
	}

	protected static readonly System.Collections.Generic.Dictionary<Models.MessageRole, string> LeftIcons = new Dictionary<Models.MessageRole, string>()
	{
		{ Models.MessageRole.Server, Icons.Material.Filled.Computer },
		{ Models.MessageRole.Image, Icons.Material.Filled.Computer },
		{ Models.MessageRole.System, Icons.Material.Filled.SettingsSystemDaydream },
		{ Models.MessageRole.Assistant, Icons.Material.Filled.AssistantDirection },
		{ Models.MessageRole.User, Icons.Material.Filled.PersonPin },
		{ Models.MessageRole.Error, Icons.Material.Filled.Error },
	};

	async void MessagesChanged(object? sender, System.Collections.Specialized.NotifyCollectionChangedEventArgs e)
	{
		if (e.NewItems?.Count > 0)
		{
			await System.Threading.Tasks.Task.Delay(500);	
			await this.JsRuntime.InvokeVoidAsync("eval","MessageContainer.lastElementChild.scrollIntoView()");
			//await this.JsRuntime.InvokeVoidAsync("MessageContainer.lastElementChild.scrollIntoView");
		}
	}
}