@inject ColdShineSoft.Services.LoginService LoginService;
@inject IDialogService DialogService;

<MudDrawer @bind-Open="_drawerOpen" Elevation="1" Class="d-flex" Style="height:100%">
	<MudDrawerHeader>
		<MudText Typo="Typo.h6">功能选择</MudText>
	</MudDrawerHeader>
	<NavMenu />
</MudDrawer>
<MudMainContent Class="d-flex flex-column" Style="height:100%">
	<MudAppBar Elevation="0" Dense=true>
		<MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="DrawerToggle" />
		@if(this.Setting!=null)
		{
			<MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Inherit" OnClick="()=>SettingVisible=true" />
		}
		@Header
		<MudSpacer />
		<MudMenu Icon="@Icons.Material.Filled.Functions" Color="Color.Inherit">
			<MudMenuItem Href="User" Icon="@Icons.Material.Filled.SupervisedUserCircle">用户管理</MudMenuItem>
			<MudMenuItem Icon="@Icons.Material.Filled.Login" OnClick="Logout">退出登录</MudMenuItem>
			<MudMenuItem Icon="@Icons.Material.Filled.ContactPage" OnClick="ShowAboutDialog">关于</MudMenuItem>
		</MudMenu>
	</MudAppBar>
	<MudContainer MaxWidth="MaxWidth.Large" Class="flex-1 pl-2 pr-0" Style="height:100%">
		@Body
	</MudContainer>
</MudMainContent>

<MudDialog @bind-IsVisible="SettingVisible">
	<TitleContent>可用参数</TitleContent>
	<DialogContent>@Setting</DialogContent>
	<DialogActions>
		<MudButton OnClick="()=>SettingVisible=false">关闭</MudButton>
	</DialogActions>
</MudDialog>

@code {

	[Parameter]
	public RenderFragment? Setting { get; set; }

	[Parameter]
	public RenderFragment? Header { get; set; }

	[Parameter]
	public RenderFragment? Body { get; set; }

	bool _drawerOpen = true;

	bool SettingVisible;

	void DrawerToggle()
	{
		_drawerOpen = !_drawerOpen;
	}

	void Logout()
	{
		this.LoginService.Logout();
	}

	void ShowAboutDialog()
	{
		this.DialogService.ShowMessageBox("关于", (MarkupString)"Copyright © <a style=color:blue target=_blank href=https://cold-shine-soft.com/>ColdShineSoft Information Technology Co. , Ltd.</a> All rights reserved");
	}
}